
<div class="container">
    <div class="row">
      
      <div class="col s5">
        <table class="striped highlight black-text">
          <thead>
            <th>Name</th>
            </thead>
          <tbody>
            <tr *ngFor="let subjects of listasubjects">
              <td>{{subjects.name }}</td>

              <td>
                <a (click) ="entrarAsignatura(subjects.name)">
                    <i class="material-icons green">edit</i>
                </a>
            </td>
            
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col s7">
     <div class="jumbotron">
    <div class="container">
        <div class="card">
            <div class="card-content">
                <h5>Crear asignatura</h5>
                <form #crearAssi="ngForm" [formGroup]="crearAsiForm" (ngSubmit)="onSubmit(crearAssi)">
                    <div class="form-group">
                        <label>name</label>
                        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">El name  es obligatorio!</div>
                            </div>
                    </div>
                    
                    <div class="form-group">
                        <button class="btn btn-primary">CREAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <div class="card">
            <div class="card-content">
                <h5>Crear alumno</h5>
                <form #crearAl="ngForm" [formGroup]="crearAlForm" (ngSubmit)="onSubmit2(crearAl)">
                    <div class="form-group">
                        <label>name</label>
                        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">El name  es obligatorio!</div>
                            </div>
                    </div>

                    <div class="form-group">
                        <label>adress</label>
                        <input type="text" formControlName="adress" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.adress.errors }" />
                        <div *ngIf="submitted && f.adress.errors" class="invalid-feedback">
                            <div *ngIf="f.adress.errors.required"> Pon tu dirección </div>
                            </div>
                    </div>


                    <div class="form-group">
                        <label>phone</label>
                        <input type="text" formControlName="phones" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phones.errors }" />
                        <div *ngIf="submitted && f.phones.errors" class="invalid-feedback">
                            <div *ngIf="f.phones.errors.required">El phone es obligatorio!</div>
                            </div>
                    </div>

                    
                    <div class="form-group">
                        <button class="btn btn-primary">CREAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




</div>


      
    </div>
  </div>